.footer {
    background-color: #333; /* Grey background color */
    padding: 20px;
    text-align: center; /* Center-align text within the footer */
    height:200px;
  }
  
  .footer-links {
    margin-bottom: 15px;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
  }
  
  .footer-list li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .footer-list a {
    text-decoration: none;
    color: white; 
  }
  
  .footer-contact p {
    margin: 5px 0;
    color: white;
  }
  
  .footer-social {
    margin-top: 15px;
  }
  
  .footer-social i {
    font-size: 24px; /* Adjust the icon size as needed */
    margin: 0 10px; /* Adjust the spacing between icons */
    color: white; /* Icon color */
  }
  
  /* Example styles for specific social media icons */
  .footer-social .fa-instagram {
    color: #e4405f; /* Instagram color */
  }
  
  .footer-social .fa-twitter {
    color: #1da1f2; /* Twitter color */
  }
  
  .footer-social .fa-facebook {
    color: #1877f2; /* Facebook color */
  }
  
  .footer-social .fa-whatsapp {
    color: #25d366; /* WhatsApp color */
  }
  
  .footer-social .fa-github {
    color: white; /* GitHub color */
  }
  
  