/* .hero {
    text-align: center;
    text-shadow: 1px 0 2px #595859;
    margin: 0;
    background-image: url("https://img.freepik.com/free-vector/meeting-business-people-avatar-character_24877-57276.jpg?w=740&t=st=1702452220~exp=1702452820~hmac=e32615e486f287b95da8a5ffa4c31827508ec2552fb319d83a8c3069bff018c9");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 85vh;
    width: 100%;
    padding-top: 5px;
    }
  
.hero h3 {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0;
  color: black;
}

  .hero h1 {
    font-size: 5.5rem;
    margin: 0;
    padding-top: 200px;
    font-family: 'Abril Fatface', serif;
    color: black;
  }
  
  .hero h3 {
    padding-bottom: 250px;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    color: black;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0;
  } */
  
  .front
{
    margin :0;
    background-image: url("https://img.freepik.com/free-vector/meeting-business-people-avatar-character_24877-57276.jpg?w=740&t=st=1702452220~exp=1702452820~hmac=e32615e486f287b95da8a5ffa4c31827508ec2552fb319d83a8c3069bff018c9");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height: 85vh;
    width:100%;
    padding-top: 200px;
   
}
.transparent-box {
    width: 55%;
    height: 45%;
    margin: auto; 
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px;
    text-align: center;
     margin-top: 20vh;  
    transform: translateY(-50%);
}
.box-text {
    color: #333; 
    font-size: 60px;
}

h3 { 
    display: flex; 
    flex-direction: row; 
    color: white;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
} 
  
h3:before, 
h3:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid white; 
    margin: auto; 
    padding-top: 20px;
} 
  @media (max-width: 900px) {
    .companyName {
      width: 100%;
      text-align: center;
      padding: 4% 4%;
    }
  
    .mainNav {
      width: 100%;
    }
  
    header nav ul {
      border: none;
    }
  
    header nav ul li a {
      padding: 25px 2%;
    }
  }
  .side-cards-list {
    margin: 0;
    padding: 0;
  }
  .side-card {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    @media only screen and (max-width: 500px) {
      flex-direction: column;
      margin-bottom: 50px;
    }
  
    &.side-card__image--right {
      flex-direction: row-reverse;
      @media only screen and (max-width: 500px) {
        flex-direction: column;
        margin-bottom: 50px;
      }
    }
  
    .side-card__image {
      width: 50%;
      padding-top: 50%;
      display: inline-block;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transform: translate(0,80px);
      @media only screen and (max-width: 500px) {
        width: 100%;
        padding-top: 100%;
        
      }
  
      &.fade {
        opacity: 1;
        transform: translate(0, 0);
        transition: opacity .6s .1s,transform 1s;
      }
    }
  
    .side-card__text__container {
      width: 50%;
      display: flex;
      align-items: center;
      @media only screen and (max-width: 500px) {
        width: 100%;
      }
  
      h2
      {

        font-size: 40px;
      }
      .side-card__text {
        padding: 20px 100px;
        @media only screen and (max-width: 768px) {
          padding: 20px 30px;
          
        }
  
        .side-card__text__pre-title {
          margin-bottom: 10px;
          color: rgb(252, 149, 166);
          line-height: 1;
          letter-spacing: 1px;
          font-size: 30px;
          font-weight: 550;
          gap:100px
        }
      
        .side-card__text__title {
          line-height: 1;
          margin-bottom: 10px;
          
        }
      }
    }
  }
  p{
   font-size: 18px;
  }
  /* // fix firefox not showing images. I dont like this hack
  @-moz-document url-prefix() { 
    .side-card .side-card__image  {
      min-height: 400px;
      @media only screen and (max-width: 500px) {
        min-height: 300px;
      }
    }
  } */